body {
    background-image: url('images/pyramid.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-image: url(./img/amas-detoiles-bleu-espace-profond.jpg);
    width: 100%;
    margin-top: 0;
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 50px;
    display: inline-block;
}

li{
    padding-right: 100px;
}

a{
    color: white;
    text-decoration: none;

}
a:hover{
color: bisque;
text-shadow: 0 0 5px bisque;
}

.histoire p {
    font-family: serif;
    letter-spacing: 1px;
    color: aliceblue;
    text-transform: capitalize;
    text-decoration: solid;
}

.histoire h1{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: normal;
    text-transform: uppercase;
    color: rgb(193, 193, 11);
}