body{
    background-image:url(./img/pyramid.jpg);
    color: white;
}

nav{
    background-image: url(./img/amas-detoiles-bleu-espace-profond.jpg);
    width: 100%;
    margin-top: 0;
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 50px;
    display: inline-block;
    
    
    

    

    

}

li{
    padding-right: 100px;
    position: relative;
    left: 100px;
}

 a{
    color: white;
    text-decoration: none;

}
a:hover{
color: bisque;
text-shadow: 0 0 5px bisque;
}

h1{
    text-align: center;
    margin-top: 200px;
    font-size: 200px;
    text-shadow: 0 0 10px white;
}

